@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src:url('../fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-bold';
  src:url('../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

html, body { width: 100%; height: 100%; margin: 0; padding: 0; font-family: 'montserrat'; background-color: #d5d1ca; }

body { overflow: hidden; }

#viewport { width: 100%; height: 100%; overflow: hidden; }

#app { width: 100%; height: 100%; position: relative; }

#menu-port { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 10; }

#views-port { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 100; }

#display { width: 100%; height: 100%; position: relative; }

#header { width: 100%; height: 81px; background: transparent url('../img/shadow_bottom.png') repeat-x bottom center; position: absolute; top: 0; left: 0; z-index: 120; }
#header-content { width: 100%; height: 75px; background-color: #1b7e5a; position: relative; }

#title { height: 75px; line-height: 75px; margin-right: 20px; font-family: 'montserrat'; font-size: 35px; color: #fff; float: right; }
#title span  { font-family: 'montserrat-bold'; }

#menu-btn { width: 75px; height: 75px; line-height: 75px; margin-left: 20px; color: #fff; font-size: 35px; float: left; }

#menu { width: 275px; position: absolute; top: 75px; left: 0; background: #1b7e5a url('../img/shadow_bottom.png') repeat-x top center; display: none; box-shadow: 1px 1px 2px #333; }
#menu.active { display: block; }

#menu ul { width: 100%; margin:0; padding: 0; list-style: none; }
#menu ul li { width: 255px; height: 30px; margin:0; padding: 10px; line-height: 30px; border-bottom: 1px solid #444; list-style: none; }
#menu ul li:last-child { border-bottom: none; }
#menu ul li.active { background-color: #176649; }
#menu ul li a { font-family: 'montserrat'; font-size: 20px; color: #fff; text-decoration: none; }
#menu ul li span { font-size: 20px; color: #fff; margin: 0 20px; }

#connection-status { float: right; }

#views { width: 100%; height: 100%; }

#footer { width: 100%; height: 35px; background-color: #666; position: absolute; bottom: 0; left: 0; z-index: 120; display: none; }

.view { width: 100%; height: 100%; display: none; position: relative; }

.sidebar { width: 325px; height: 100%; position: absolute; top: 0; left: 0; background-image: url('../img/shadow_right.png'); background-repeat: repeat-y; background-position: top right; }

.sidebar-content { padding-top: 90px; height: 660px; }

.content { width: 100%; height: 100%; }

.dashpad { padding: 150px 0 0 75px; }

.sidebarpad { padding: 0 0 0 325px; }

.clear { clear: both; }

.dash-icon { width: 200px; height: 200px; line-height: 200px; margin-left: 25px; color: #fff; font-size: 125px; text-align: center; text-decoration: none; display: block; float: left; }
.dash-icon:first-child { margin-left: 0; }
.dash-icon:before { line-height: 200px; }


.bg-drk-green { background-color: #176649; }
.bg-green { background-color: #1b7e5a; }
.bg-blue { background-color: #5799a9; }
.bg-drk-blue { background-color: #25545a; }
.bg-orange { background-color: #e2854a; }

.bg-sidebar { background-color: #98938a; }


.campers-list { list-style: none; padding-bottom: 30px; padding-left: 0px; }
.campers-list li { list-style: none; width: 100%; height: 40px; padding: 20px; border-bottom: 1px solid #999; }
.campers-list li:last-child { border-bottom: none; }
.climage { color: #ddd; float: left; font-size: 40px; margin-right: 10px; }
.clname { font-weight: bold; }
.cldob {  }

.cimage { color: #ddd; float: left; font-size: 200px; margin-right: 25px; }
.cinfo { float: left; }
.cname {  }
.cdob { padding-bottom: 10px; }
.cgender {  }

.sidebarpad .subview{ display: none; }
.sidebarpad .active { display: block; }

.formarea { padding-left: 10px; padding-bottom: 110px; }

#formbtns { display: block; }
#formbtns ul { list-style: none; margin: 0; padding: 0; }
#formbtns ul li { list-style: none; margin: 0; padding: 0; }

#checkinforms .form { display: none; }
.form label { width: 300px; height: auto; line-height: 40px; color: #343434; display: block; }
.form input { width: 285px; height: 25px; }
.form select { width: 300px; height: 30px; }
button { width: 300px; height: 40px; margin-top: 20px; text-align: center; }
.form textarea { width: 295px; height: 65px; }

.form_buttons { display: none; }

.campers { height: 657px; }

.camper { height: 657px; padding: 0px 10px; }


.subview-back { width: 60px; height: 30px; margin-top: 0px; float: right; }

.cabin-filter { height: 45px; position: absolute; bottom: 0; width: 100%; background-color: #1b7e5a; color: #999; display: none; }
.cabin-filter ul { height: 45px; list-style: none; width: 100%; margin: 0; padding: 0; }
.cabin-filter ul li { height: 45px; width: auto; list-style: none; margin: 0 8px; display: inline-block; text-align: center; line-height: 45px; float: left; }
.cabin-filter ul li:first-child { margin: 0 16px 0 8px; }
.cabin-filter ul li.active { color: #fff; }

#logform-area .form_buttons {
	display:block;	
}

#logform-area .form-back {
	display:none;	
}

.log-entry { border-bottom: 1px solid #999; }

#camperCheckinDataScroller, #camperLogsDataScroller { height: 350px; overflow: hidden; }


/* 1.5 dpr */
@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi){ 
    
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-copy, .icon-connection, .icon-home, .icon-users, .icon-user, .icon-paste, .icon-cog, .icon-spinner, .icon-qrcode, .icon-camera, .icon-close, .icon-checkmark, .icon-minus, .icon-plus, .icon-enter, .icon-exit, .icon-loop, .icon-menu, .icon-flag, .icon-box-add, .icon-box-remove, .icon-download, .icon-upload, .icon-search, .icon-arrow-left, .icon-arrow-down-left, .icon-arrow-down, .icon-arrow-down-right, .icon-arrow-right, .icon-arrow-up-right, .icon-arrow-up, .icon-arrow-up-left, .icon-download-2, .icon-upload-2, .icon-address-book, .icon-notebook {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-copy:before {
  content: "\e000";
}
.icon-connection:before {
  content: "\e002";
}
.icon-home:before {
  content: "\e003";
}
.icon-users:before {
  content: "\e004";
}
.icon-user:before {
  content: "\e005";
}
.icon-paste:before {
  content: "\e001";
}
.icon-cog:before {
  content: "\e006";
}
.icon-spinner:before {
  content: "\e007";
}
.icon-qrcode:before {
  content: "\e008";
}
.icon-camera:before {
  content: "\e009";
}
.icon-close:before {
  content: "\e00a";
}
.icon-checkmark:before {
  content: "\e00b";
}
.icon-minus:before {
  content: "\e00c";
}
.icon-plus:before {
  content: "\e00d";
}
.icon-enter:before {
  content: "\e00e";
}
.icon-exit:before {
  content: "\e00f";
}
.icon-loop:before {
  content: "\e010";
}
.icon-menu:before {
  content: "\e011";
}
.icon-flag:before {
  content: "\e012";
}
.icon-box-add:before {
  content: "\e013";
}
.icon-box-remove:before {
  content: "\e014";
}
.icon-download:before {
  content: "\e015";
}
.icon-upload:before {
  content: "\e016";
}
.icon-search:before {
  content: "\e017";
}
.icon-arrow-left:before {
  content: "\e018";
}
.icon-arrow-down-left:before {
  content: "\e019";
}
.icon-arrow-down:before {
  content: "\e01a";
}
.icon-arrow-down-right:before {
  content: "\e01b";
}
.icon-arrow-right:before {
  content: "\e01c";
}
.icon-arrow-up-right:before {
  content: "\e01d";
}
.icon-arrow-up:before {
  content: "\e01e";
}
.icon-arrow-up-left:before {
  content: "\e01f";
}
.icon-download-2:before {
  content: "\e020";
}
.icon-upload-2:before {
  content: "\e021";
}
.icon-address-book:before {
  content: "\e022";
}
.icon-notebook:before {
  content: "\e023";
}
