html, body { width: 100%; height: 100%; margin: 0; padding: 0; font-family:"Trebuchet MS", Helvetica, sans-serif; font-size:14px; background-color: #018398; }

body { overflow: hidden; }

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.hidden { display:none; }

.container {
	margin:0px auto;
	width:90%;
	padding:10px;
	min-height:120px;
}

.header {
	float:left;
	width:100%;
}
.banner {
	text-align:center;
}
#main_nav {
	float:left;
	width:100%;
}
#main_nav ul {
	float:left;
	width:100%;
	padding:0px;
	margin:0px;
	list-style:none;	
}
#main_nav li {
	float:left;
	width:33.33%;
	background:#999;
	margin:0px;
	padding:10px;
	text-align:center;
	border-right:2px solid #018398;
	font-weight:bold;
	font-size:130%;
}
#main_nav li:last-child {
	margin-right:0px;	
	border-right:none;
}

.main-container {
	float:left;
	width:100%;
	padding:10px;
	background:#fff;
}
.app_messages {
	float:left;
	width:100%;
}
.app_content {
	float:left;
	width:100%;
}
	/* app page content */
	#home {
		
	}
		.boxes {
			
		}
			.box {
				
			}
			.box-options {
				
			}
	
	#post {
		
	}
	
	#local {
		
	}
	
.footer {
	float:left;
	width:100%;
	background:#7FAABB;
	padding:20px 0px;
	text-align:center;
	color:#fff;
	font-size:80%;
}